name: CI

on: [push, pull_request]

jobs:

  build-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, [self-hosted, ubuntu, 20.04, arm64]]
        build_type: [Debug, Release]
    steps:
      - uses: actions/checkout@v2
      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get install autoconf
          sudo apt-get install automake
          sudo apt-get install autopoint
          sudo apt-get install bison
          sudo apt-get install build-essential
          sudo apt-get install cmake
          sudo apt-get install flex
          sudo apt-get install libncurses5-dev
          sudo apt-get install libtool
      - name: cmake
        run: |
          mkdir -p build/linux
          cd build/linux
          cmake -DCMAKE_BUILD_TYPE=${{matrix.build_type}} ../..
          make
          make dist

  build-macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11, macos-10.15]
        build_type: [Debug, Release]
    steps:
      - uses: actions/checkout@v2
      - name: brew
        run: |
          brew list --formula
          brew install autoconf
          brew install automake
          brew install cmake
          brew install gettext
          brew install libtool
          brew install pkg-config
          brew install shtool
      - name: make
        run: |
          mkdir -p build/macos
          cd build/macos
          cmake -DCMAKE_BUILD_TYPE=${{matrix.build_type}} ../..
          make
          make dist

  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2016]
        arch: [x86, amd64]
    steps:
      - uses: actions/checkout@v2
      - name: make
        shell: cmd
        run: |
          if exist "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\Tools\VsDevCmd.bat" (
            call   "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=${{matrix.arch}}
          )

          mkdir build\windows
          cd build\windows
          cmake -G "NMake Makefiles" -DCMAKE_VS_PLATFORM_TOOLSET=v141 -DCMAKE_VS_WINDOWS_TARGET_PLATFORM_VERSION=10.0.17763.0 ..\..
          nmake
          nmake dist
